.Rproj.user
.Rhistory
.RData
.Ruserdata
cache/*
add.*
*.zip
*.synctex.gz
*.bbl
*.out
*.vrb
*.toc
*.log
*~
figure/*
main-concordance.tex
main.tex
doc/*
results/*
figure/*
*.acn
*.bbl
*.aux
*.glo
*.fff
*.ist
data/abc_sims*
